body {
    background: #f8f8f8;
    font-family: 'Poppins', sans-serif;
}

.login-drop-width {
    max-width: 390px;
}

.login-panel {
    margin-top: 10px;
}

.login-button {
    margin-bottom: 10px;
    background: #2AA057;
    color: white;
}

.login-panel-margin {
    margin-top: 20px;
}

.black-text {
    color: black;
}


/*NAV*/

.landing-nav {
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.landing-nav.scrolled {
    /*background: rgba(255, 255, 255, 0.9);
border-color: rgba(255, 255, 255, 0.9);*/
    background: white;
    border-color: white;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.main-nav {
    background: #6564DA;
    color: white;
    height: 60px;
}

.white-icon {
    color: white;
}

.scroll-link {
    color: white;
    margin-top: 7px;
}


/*.purple-nav {
    background: white;
    height: 60px;
}*/

.scroll-link.scrolled {
    color: #6564DA;
}

.navbar {
    margin-bottom: 0px;
    height: 60px;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 25px;
    float: none;
    display: inline-block;
    margin-top: 7px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: white;
}


/*a:focus,
a:hover {
    color: #A553E7;
}*/

.scroll-link:focus,
.scroll-link:hover {
    color: #d3d3d3;
}

.scroll-link.scrolled:focus,
.scroll-link.scrolled:hover {
    color: #484848;
}

#nav-brand,
#nav-brand-2 {
    color: white;
    font-size: 25px;
    float: none;
    display: inline-block;
    margin-top: 7px;
}


/*#nav-brand-purple {
    color: #6564DA;
    font-size: 25px;
    float: none;
    display: inline-block;
}*/

#nav-brand.scrolled {
    background: -webkit-linear-gradient(left, #6564DA, #A553E7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*#nav-brand-2.scrolled {
color: #6564DA;
}*/

#icon {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}


/*Top Banner*/

#top-banner {
    background-image: url('../images/soupkitchen2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    text-align: center;
    color: white;
    margin-top: 0;
}

.large-h1 {
    font-size: 60px;
}

hr {
    width: 10%;
}


/*buttons*/

.btn-outline-success {
    background: #6564DA;
    /*border: 2px solid #4abdac;*/
}

.btn-outline-success:hover,
.btn-ouline-succes:focus {
    background: #7473FA;
    color: white;
}

.green-btn {
    background: #2AA057;
    color: white;
}

.green-btn:hover,
.green-btn:focus,
.login-button:hover,
.login-button:focus {
    background: #32BF68;
    color: white;
}

.light-orange-btn {
    background: #FF7B26;
    color: white;
    margin-right: 10px;
}

.light-orange-btn:hover,
.light-orange-btn:focus {
    background: #FF9C2E;
    color: white;
}


/*.green-btn-outline {
    border: 2px solid #6AD34C;
    background: rgba(0, 0, 0, 0);
    color: black;
}*/

.modal-save-btn {
    margin-top: 30px;
    background: #14AEF5;
    color: white;
}

.modal-save-btn:hover,
.modal-save-btn:focus {
    background: #09D2FF;
    color: white;
}

.orange-btn {
    background: #fc4a1a;
    color: white;
    box-shadow: 2px 2px 1px #888888;
}

.orange-btn:hover,
.orange-btn:focus {
    background: #FF5C01;
    color: white;
}


/*Margins*/

.margin-top-220 {
    margin-top: 220px;
}

.margin-top-200 {
    margin-top: 200px;
}

.margin-top-130 {
    margin-top: 130px;
}

.margin-top-90 {
    margin-top: 90px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.img-circle {
    border-radius: 25px;
    margin-top: 25px;
}


/*text*/

.text-orange {
    color: #fc4a1a;
}

.text-green {
    color: #6AD34C;
}

.italic {
    font-style: italic;
}

.white-text {
    color: white;
}

.caps {
    text-transform: uppercase;
}


/*.text-left {
text-align: left;
}*/


/*About*/

#about {
    height: 500px;
    background-color: white;
    text-align: left;
}


/*How it Works*/

#how-it-works {
    height: 550px;
    background-color: #737373;
    color: white;
    text-align: center;
}


/*.fa-check,
.fa-search,
.fa-wrench {
font-size: 40px;
}*/


/*Beyond Tracking*/

#beyond-tracking {
    height: 500px;
    background-image: url('../images/painting-light-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
}

.fa-globe,
.fa-comments {
    font-size: 40px;
    margin-top: 30px;
}

.panting-img {
    text-align: right;
}


/*What People Are Saying */

#features {
    height: 450px;
    background-color: whitesmoke;
    text-align: center;
}

blockquote {
    border: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote h5 {
    font-size: 19px;
}

blockquote h5:before {
    content: open-quote;
    font-weight: bold;
    font-size: 80px;
    color: #6564DA
}

blockquote p:after {
    content: close-quote;
    font-weight: bold;
    font-size: 80px;
    color: #6564DA;
}


/*Main*/

.fit-img {
    height: auto;
    max-width: 100%;
}

.main-background {
    background: #eaedf2;
}

.panel-default>.panel-heading {
    background: white;
    color: #323a45;
}

.dash-panel-margin-top {
    margin-top: 70px;
    border-radius: 25px;
    height: 40px;
    margin-bottom: 5px;
}

#goal {
    font-size: 16px;
    font-weight: bold;
    /*color: #0DD4E7;*/
}

.fa-sun-o,
.fa-star {
    margin-left: 15px;
    margin-right: 7px;
    margin-top: 2px;
}

.your-weekly-goal {
    display: inline-block
}

.btn-edit {
    border: none;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 15px;
    height: 20px;
    width: 27px;
    background: white;
}

.btn-edit:hover,
.btn-edit:focus {
    color: #0DD4E7;
}

.btn-edit:active {
    color: #6564DA;
}

.modal-title,
.close {
    display: inline-block;
}

.inline {
    display: inline-block;
}


/*Volunteer Level Panel*/

.level-panel {
    text-align: center;
    height: 390px;
}

.fa-heart-o,
.fa-search,
.fa-list-ul,
.fa-calendar,
.fa-sliders {
    margin-right: 4px;
}


/*Circular Progress Bar*/

.CircularProgressbar {
    /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
    width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #3e98c7;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #3e98c7;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
}

.tracker-text {
    margin-bottom: 5px;
}

.CircularProgressbar.incomplete .CircularProgressbar-path {
    stroke: #f66;
}

.CircularProgressbar.complete .CircularProgressbar-path {
    stroke: #6AD34C;
}


/*.panel-title-small {
    font-size: 14px;
    display: inline-block;
}
.btn-goal-update {
    display: inline-block;
}*/


/*FOOTER*/

.footer-top {
    background: #585858;
    color: white;
    height: 100px;
    text-align: left;
}

.footer-bottom {
    background: #484848;
    height: 50px;
    color: white;
}

.footer-txt {
    margin-top: 12px;
    color: #b0b0b0;
}

.footer-top-text {
    margin-top: 30px;
}

.footer-link {
    color: white;
}

.footer-link:active,
.footer-link:hover {
    color: #6AD34C;
    text-decoration: none;
}

input {
    border-radius: 6px;
}

.top-link {
    margin-top: 30px;
}

.bottom-link {
    margin-top: 10px;
}


/*footer fix*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 150px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.dropdown-menu {
    margin-top: 17px;
}

.dropdown-toggle {
    padding-top: 17px !important;
    padding-bottom: 18px !important;
    margin-left: 10px;
}

.dropdown-user {
    margin-top: 3px;
}

.form-control {
    margin-bottom: 15px;
}

.form-control-goal {
    margin-bottom: 0px;
}

.form-password {
    margin-bottom: 5px !important;
}

.register-form-padding-top {
    padding-top: 0px;
}


/*Fix for blue outline and yellow highlight on input boxes and buttons*/

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

.scrollbox {
    height: 440px;
    overflow: auto;
}

.goal-item{
    overflow: hidden;
    float: left;
    width: 100%;
    height: 34px;
    position: relative;
    color: #4c4c5d;
}

.goal-item span {
    line-height: 34px;
    
}

.grow { transition: all .2s ease-in-out;}
.grow:hover {transform: translateY(-3px);
}

.goal-item .btn {
    right:0;
    position: absolute;
    border: 0px solid transparent;
}

.goal-item.btn.btn-default:hover {
    color: #f96868;
    /* background-color: #e6e6e6; */
    border-color: #adadad;
}

.fa.fa-circle-o {
    color: #03c7f4;
}

.list-group-item {
    border: none;
    padding-bottom: 28px;
}